/* Home CSS */

.homeContainer{
  max-width: 1280px;
  margin:  10px auto 10px auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px 10px;

}
.cardShow{
  border: 2px solid skyblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}
.cardImg{
  width: 210px;
  height: 295px;
  object-fit: cover;
}
.cardInfo{
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 20px 40px;
  margin: 0px 10px;
}
.btn{
  background-color: skyblue !important;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 600;
}

.btn:hover{
  background-color: gray !important;
  color: white !important;
  margin-bottom: 10px;
  font-weight: 600;
}

/* Details Page CSS */
.sumContainer{
  max-width: 1280px;
  margin:  10px auto 10px auto;
  position: relative;

}
.summaryImg{
  width: 50%;
  margin:  10px auto 10px 25%;
}

.book{
  width: 90%;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 48px 15px rgba(77,77,77,0.24);
  border-radius: 10px;
}
.input{
  width: 50%;
  border: 2px solid skyblue;
  border-radius: 5px;
}
.btn2{
  background-color: skyblue !important;
  border: none;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 600;
  margin-left: 45%;
}
.btn3{
  background-color: skyblue !important;
  border: none;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 600;
  margin-left: 45%;
}
.cardInfo2{
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 20px 40px;
  margin: 0px 10px;
}

@media only screen and (max-width: 600px) {
  /* HOME PAGE CSS */
  .homeContainer{
    max-width: 1280px;
    margin:  10px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 10px 10px;
  }
/* Details page CSS */
  .cardInfo2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px 40px;
    margin: 0px 10px;
  }
  .btn2{
    background-color: skyblue !important;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    margin-left: 35%;
  }
  .btn2{
    background-color: skyblue !important;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    margin-left: 40%;
  }
}